<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3.5">
		<item label="Terminal"><action name="Execute"><command>x-terminal-emulator</command></action></item>
		<item label="File Manager"><action name="Execute"><command>caja --no-desktop</command></action></item>
		<item label="Text Editor"><action name="Execute"><command>geany_one_instance_per_workspace</command></action></item>
		<item label="Web Browser"><action name="Execute"><command>x-www-browser</command></action></item>
		<item label="Mail Client"><action name="Execute"><command>thunderbird</command></action></item>
		<item label="Media Player"><action name="Execute"><command>vlc</command></action></item>
		<separator/>
		<menu id="accessories" label="Accessories">
			<item label="Task Manager (htop)"><action name="Execute"><command>termite --exec="htop"</command></action></item>
			<item label="System Monitor (glances)"><action name="Execute"><command>termite --exec="glances"</command></action></item>
			<item label="Disk Usage Analyzer"><action name="Execute"><command>mate-disk-usage-analyzer</command></action></item>
			<item label="Log Explorer (glogg)"><action name="Execute"><command>glogg</command></action></item>
			<item label="GVim"><action name="Execute"><command>gvim</command></action></item>
			<item label="Hexadecimal Editor (Bless)"><action name="Execute"><command>bless</command></action></item>
			<item label="Diff &amp; Merge Tool (Meld)"><action name="Execute"><command>meld</command></action></item>
			<item label="Encryption Keys Manager (seahorse)"><action name="Execute"><command>seahorse</command></action></item>
		</menu>
		<menu id="graphics" label="Graphics">
			<item label="Image Viewer (EoM)"><action name="Execute"><command>eom</command></action></item>
			<item label="Screenshooter"><action name="Execute"><command>xfce4-screenshooter</command></action></item>
			<item label="Shotwell"><action name="Execute"><command>shotwell</command></action></item>
			<item label="GIMP"><action name="Execute"><command>gimp</command></action></item>
		</menu>
		<menu id="multimedia" label="Multimedia">
			<item label="Volume Control"><action name="Execute"><command>pavucontrol</command></action></item>
			<item label="MPS YouTube"><action name="Execute"><command>termite --exec="mpsyt"</command></action></item>
			<item label="VLC"><action name="Execute"><command>vlc</command></action></item>
			<item label="Xfburn"><action name="Execute"><command>xfburn</command></action></item>
		</menu>
		<menu id="network" label="Network">
			<menu id="wwwbrowsers" label="WWW Browsers">
				<item label="Firefox"><action name="Execute"><execute>firefox</execute></action></item>
				<item label="Chromium"><action name="Execute"><execute>chromium-browser</execute></action></item>
				<item label="Google Chrome"><action name="Execute"><execute>google-chrome</execute></action></item>
			</menu>
			<item label="Empathy"><action name="Execute"><command>empathy</command></action></item>
			<item label="Skype"><action name="Execute"><command>skypeforlinux</command></action></item>
			<item label="IRC Client (HexChat)"><action name="Execute"><command>hexchat</command></action></item>
			<item label="Remote Filesystems (Gigolo)"><action name="Execute"><command>gigolo</command></action></item>
			<item label="Thunderbird"><action name="Execute"><execute>thunderbird</execute></action></item>
			<item label="FTP Client (BareFTP)"><action name="Execute"><command>bareftp</command></action></item>
			<item label="BitTorrent Client (Transmission)"><action name="Execute"><command>transmission-gtk</command></action></item>
			<item label="VNC Client (Remmina)"><action name="Execute"><command>remmina</command></action></item>
		</menu>
		<menu id="office" label="Office">
			<menu id="libreoffice" label="LibreOffice">
				<item label="Writer"><action name="Execute"><command>/usr/lib/libreoffice/program/swriter</command></action></item>
				<item label="Calc"><action name="Execute"><command>/usr/lib/libreoffice/program/scalc</command></action></item>
				<item label="Impress"><action name="Execute"><command>/usr/lib/libreoffice/program/simpress</command></action></item>
				<item label="Base"><action name="Execute"><command>/usr/lib/libreoffice/program/sbase</command></action></item>
				<item label="Math"><action name="Execute"><command>/usr/lib/libreoffice/program/smath</command></action></item>
				<item label="Draw"><action name="Execute"><command>/usr/lib/libreoffice/program/sdraw</command></action></item>
			</menu>
			<item label="PDF Viewer (Atril)"><action name="Execute"><command>atril</command></action></item>
			<!-- The use the of argument --new-window below should work for Firefox, Chrome, Chromium -->
			<item label="Google Drive"><action name="Execute"><command>x-www-browser --new-window https://drive.google.com/</command></action></item>
		</menu>
		<item label="Printers"><action name="Execute"><command>system-config-printer</command></action></item>
		<separator/>
		<menu id="settings" label="Settings">
			<menu id="OpenboxConfig" label="Openbox">
				<item label="GUI Config Tool"><action name="Execute"><command>obconf</command></action></item>
				<separator/>
				<item label="Edit menu.xml"><action name="Execute"><command>geany_one_instance_per_workspace ~/.config/openbox/menu.xml</command></action></item>
				<item label="Edit rc.xml"><action name="Execute"><command>geany_one_instance_per_workspace ~/.config/openbox/rc.xml</command></action></item>
				<item label="Edit autostart"><action name="Execute"><command>geany_one_instance_per_workspace ~/.config/openbox/autostart</command></action></item>
				<separator/>
				<item label="Reconfigure"><action name="Reconfigure"/></item>
				<item label="Restart"><action name="Restart"/></item>
			</menu>
			<menu id="Tint2Config" label="tint2">
				<item label="Edit config file"><action name="Execute"><command>geany_one_instance_per_workspace ~/.config/tint2/tint2rc</command></action></item>
				<separator/>
				<item label="Restart tint2"><action name="Execute"><command>bash ~/.config/openbox/tint2_restart.sh</command></action></item>
			</menu>
			<item label="User Interface Settings"><action name="Execute"><command>lxappearance</command></action></item>
			<separator/>
			<item label="Screen Layout (arandr)"><action name="Execute"><command>arandr</command></action></item>
			<item label="Mouse Settings"><action name="Execute"><command>xfce4-mouse-settings</command></action></item>
			<item label="Keyboard Settings"><action name="Execute"><command>xfce4-keyboard-settings</command></action></item>
			<separator/>
			<item label="Update Alternatives"><action name="Execute"><command>termite --exec="sudo update-alternatives --all"</command></action></item>
			<item label="Update Alternatives GUI"><action name="Execute"><command>pkexec galternatives</command></action></item>
			<item label="MIME Settings"><action name="Execute"><command>xfce4-mime-settings</command></action></item>
			<separator/>
			<item label="Power Management Preferences"><action name="Execute"><command>mate-power-preferences</command></action></item>
			<item label="Power Statistics"><action name="Execute"><command>mate-power-statistics</command></action></item>
		</menu>
		<menu id="system" label="System">
			<menu id="SystemTools" label="Tools">
				<item label="GParted"><action name="Execute"><command>pkexec gparted</command></action></item>
			</menu>
			<item label="User Login Settings"><action name="Execute"><command>pkexec lightdm-gtk-greeter-settings</command></action></item>
			<separator/>
			<item label="Software &amp; Updates"><action name="Execute"><command>software-properties-gtk</command></action></item>
			<item label="Synaptic Package Manager"><action name="Execute"><command>pkexec synaptic</command></action></item>
		</menu>
		<separator/>
		<item label="Lock Session"><action name="Execute"><execute>dm-tool lock</execute></action></item>
		<item label="Switch User"><action name="Execute"><execute>dm-tool switch-to-greeter</execute></action></item>
		<item label="Suspend"><action name="Execute"><execute>sh ~/.config/openbox/dialog_command.sh "Suspend?" "systemctl suspend"</execute></action></item>
		<item label="Hibernate"><action name="Execute"><execute>sh ~/.config/openbox/dialog_command.sh "Hibernate?" "systemctl hibernate"</execute></action></item>
		<item label="Exit"><action name="Execute"><execute>python ~/.config/openbox/exit.py</execute></action></item>
	</menu>
</openbox_menu>
