[diff]
	tool = meld
[merge]
	tool = meld
[gui]
	editor = geany
	historybrowser = gitk
[format]
	pretty = format:%Cred%h%Creset %Cblue<%an>%Creset %Cgreen%ci%Creset %s
[pull]
	ff = only
[cola]
	spellcheck = false
	fontdiff = Monospace,8,-1,5,50,0,0,0,0,0
	theme = default
	icontheme = default
	startupmode = list
	boldheaders = true
	statusshowtotals = true
	statusindent = true
