[Unit]
Description=Snapcast client
Documentation=man:snapclient(1)
After=network-online.target time-sync.target sound.target

[Service]
ExecStart=/usr/bin/snapclient -h apollo.local
Restart=on-failure
