[Unit]
Description=Disable wakeup on USB or lid

[Service]
ExecStart=/bin/bash -c "echo EHC1 >> /proc/acpi/wakeup; echo XHC >> /proc/acpi/wakeup; echo LID0 >> /proc/acpi/wakeup"

[Install]
WantedBy=multi-user.target
