<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3.5">
		<item label="Terminal"><action name="Execute"><command>x-terminal-emulator</command></action></item>
		<item label="File Manager"><action name="Execute"><command>caja --no-desktop</command></action></item>
		<item label="Text Editor"><action name="Execute"><command>geany</command></action></item>
		<item label="Web Browser"><action name="Execute"><command>x-www-browser</command></action></item>
		<item label="Mail Client"><action name="Execute"><command>thunderbird</command></action></item>
		<item label="Media Player"><action name="Execute"><command>vlc</command></action></item>
		<separator/>
		<menu id="accessories" label="Accessories">
			<item label="Task Manager (htop)"><action name="Execute"><command>mate-terminal --command=&quot;htop&quot;</command></action></item>
			<item label="Disk Usage Analyzer"><action name="Execute"><command>mate-disk-usage-analyzer</command></action></item>
			<item label="GVim"><action name="Execute"><command>gvim</command></action></item>
			<item label="Hexadecimal Editor (Bless)"><action name="Execute"><command>gvim</command></action></item>
			<item label="Diff & Merge Tool (Meld)"><action name="Execute"><command>meld</command></action></item>
		</menu>
		<menu id="graphics" label="Graphics">
			<item label="Image Viewer (EoM)"><action name="Execute"><command>eom</command></action></item>
			<item label="Screenshooter"><action name="Execute"><command>xfce4-screenshooter</command></action></item>
			<item label="Shotwell"><action name="Execute"><command>Shotwell</command></action></item>
			<item label="GIMP"><action name="Execute"><command>gimp</command></action></item>
		</menu>
		<menu id="multimedia" label="Multimedia">
			<item label="Volume Control"><action name="Execute"><command>pavucontrol</command></action></item>
			<item label="VLC"><action name="Execute"><command>vlc</command></action></item>
			<item label="Xfburn"><action name="Execute"><command>xfburn</command></action></item>
		</menu>
		<menu id="network" label="Network">
			<menu id="wwwbrowsers" label="WWW Browsers">
				<item label="Firefox"><action name="Execute"><execute>firefox</execute></action></item>
				<item label="Chromium"><action name="Execute"><execute>chromium</execute></action></item>
				<item label="Google Chrome"><action name="Execute"><execute>google-chrome</execute></action></item>
			</menu>
			<item label="Empathy"><action name="Execute"><command>empathy</command></action></item>
			<item label="Skype"><action name="Execute"><command>skype</command></action></item>
			<item label="IRC Client (HexChat)"><action name="Execute"><command>hexchat</command></action></item>
			<item label="Remote Filesystems"><action name="Execute"><command>gigolo</command></action></item>
			<item label="Thunderbird"><action name="Execute"><execute>thunderbird</execute></action></item>
			<item label="FTP Client (BareFTP)"><action name="Execute"><command>bareftp</command></action></item>
			<item label="Transmission BitTorrent Client"><action name="Execute"><command>transmission-gtk</command></action></item>
		</menu>
		<menu id="office" label="Office">
			<menu id="libreoffice" label="LibreOffice">
				<item label="Writer"><action name="Execute"><command>/usr/lib/libreoffice/program/swriter</command></action></item>
				<item label="Calc"><action name="Execute"><command>/usr/lib/libreoffice/program/scalc</command></action></item>
				<item label="Impress"><action name="Execute"><command>/usr/lib/libreoffice/program/simpress</command></action></item>
				<item label="Base"><action name="Execute"><command>/usr/lib/libreoffice/program/sbase</command></action></item>
				<item label="Math"><action name="Execute"><command>/usr/lib/libreoffice/program/smath</command></action></item>
				<item label="Draw"><action name="Execute"><command>/usr/lib/libreoffice/program/sdraw</command></action></item>
			</menu>
			<item label="PDF Viewer (Atril)"><action name="Execute"><command>atril</command></action></item>
			<item label="Google Drive"><action name="Execute"><command>x-www-browser https://drive.google.com/</command></action></item>
		</menu>
		<separator/>
		<menu id="settings" label="Settings">
			<menu id="obConfig" label="Openbox">
				<item label="Edit menu.xml"><action name="Execute"><command>geany -i ~/.config/openbox/menu.xml</command></action></item>
				<item label="Edit rc.xml"><action name="Execute"><command>geany -i ~/.config/openbox/rc.xml</command></action></item>
				<item label="Edit autostart"><action name="Execute"><command>geany -i ~/.config/openbox/autostart</command></action></item>
				<separator/>
				<item label="GUI Menu Editor"><action name="Execute"><command>obmenu</command></action></item>
				<item label="GUI Applications Settings Editor"><action name="Execute"><command>obapps</command></action></item>
				<item label="GUI Config Tool"><action name="Execute"><command>obconf</command></action></item>
				<separator/>
				<item label="Reconfigure"><action name="Reconfigure"/></item>
				<item label="Restart"><action name="Restart"/></item>
			</menu>
			<menu id="tint2config" label="tint2">
				<item label="Edit config file"><action name="Execute"><command>geany -i ~/.config/tint2/tint2rc</command></action></item>
				<item label="Restart tint2"><action name="Execute"><command>bash ~/.config/openbox/tint2_restart.sh</command></action></item>
				<separator label="Help?"/>
				<item label="man page"><action name="Execute"><command>mate-terminal --command=&quot;man tint2&quot;</command></action></item>
				<item label="Online Help"><action name="Execute"><command>x-www-browser http://code.google.com/p/tint2/wiki/Welcome</command></action></item>
			</menu>
			<menu id="DisplaySettings" label="Display Settings">
				<item label="ARandR Screen Layout Editor"><action name="Execute"><command>arandr</command></action></item>
				<separator label="Help?"/>
				<item label="man xrandr"><action name="Execute"><command>mate-terminal --command=&quot;man xrandr&quot;</command></action></item>
			</menu>
			<item label="Edit Default Applications"><action name="Execute"><command>mate-terminal --command=&quot;sudo update-alternatives --all&quot;</command></action></item>
			<item label="User Interface Settings"><action name="Execute"><command>lxappearance</command></action></item>
			<item label="Power Management"><action name="Execute"><command>xfce4-power-manager-settings</command></action></item>
		</menu>
		<menu id="system" label="System">
			<item label="Configure Printers"><action name="Execute"><command>system-config-printer</command></action></item>
			<item label="GParted"><action name="Execute"><command>gksudo --preserve-env gparted</command></action></item>
			<item label="GAlternatives"><action name="Execute"><command>gksudo --preserve-env galternatives</command></action></item>
			<item label="Synaptic Package Manager"><action name="Execute"><command>gksudo --preserve-env synaptic</command></action></item>
			<item label="User Login Settings"><action name="Execute"><command>gksudo --preserve-env lightdm-gtk-greeter-settings</command></action></item>
		</menu>
		<separator/>
		<item label="Lock Session"><action name="Execute"><execute>dm-tool lock</execute></action></item>
		<item label="Switch User"><action name="Execute"><execute>dm-tool switch-to-greeter</execute></action></item>
		<item label="Suspend"><action name="Execute"><execute>sh ~/.config/openbox/dialog_command.sh "Suspend?" "systemctl suspend"</execute></action></item>
		<item label="Hibernate"><action name="Execute"><execute>sh ~/.config/openbox/dialog_command.sh "Hibernate?" "systemctl hibernate"</execute></action></item>
		<item label="Exit"><action name="Execute"><execute>python ~/.config/openbox/exit.py</execute></action></item>
	</menu>
</openbox_menu>
