<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3.5">
		<item label="Terminal"><action name="Execute"><command>x-terminal-emulator</command></action></item>
		<item label="File Manager"><action name="Execute"><command>xdg-open .</command></action></item>
		<item label="Text Editor"><action name="Execute"><command>geany</command></action></item>
		<item label="Web Browser"><action name="Execute"><command>x-www-browser</command></action></item>
		<item label="Mail Client"><action name="Execute"><command>thunderbird</command></action></item>
		<item label="Media Player"><action name="Execute"><command>vlc</command></action></item>
		<separator/>
		<menu id="accessories" label="Accessories">
			<item label="kdiff3"><action name="Execute"><command>kdiff3</command></action></item>
			<item label="Task Manager (htop)"><action name="Execute"><command>mate-terminal --command=&quot;htop&quot;</command></action></item>
		</menu>
		<menu id="graphics" label="Graphics">
			<item label="gThumb"><action name="Execute"><command>gthumb</command></action></item>
			<item label="GIMP"><action name="Execute"><command>gimp</command></action></item>
			<item label="Image Viewer (EoM)"><action name="Execute"><command>eom</command></action></item>
			<item label="Screenshooter"><action name="Execute"><command>xfce4-screenshooter</command></action></item>
		</menu>
		<menu id="multimedia" label="Multimedia">
			<item label="VLC"><action name="Execute"><command>vlc</command></action></item>
			<item label="Volume Control"><action name="Execute"><command>pavucontrol</command></action></item>
			<item label="Xfburn"><action name="Execute"><command>xfburn</command></action></item>
		</menu>
		<menu id="network" label="Network">
			<menu id="wwwbrowsers" label="WWW Browsers">
				<item label="Firefox"><action name="Execute"><execute>firefox</execute></action></item>
				<item label="Chromium"><action name="Execute"><execute>chromium</execute></action></item>
				<item label="Google Chrome"><action name="Execute"><execute>google-chrome</execute></action></item>
			</menu>
			<item label="Thunderbird"><action name="Execute"><execute>thunderbird</execute></action></item>
			<item label="BareFTP"><action name="Execute"><command>bareftp</command></action></item>
			<item label="Transmission BitTorrent Client"><action name="Execute"><command>transmission-gtk</command></action></item>
			<item label="XChat IRC Client"><action name="Execute"><command>xchat</command></action></item>
			<item label="Remote Filesystems"><action name="Execute"><command>gigolo</command></action></item>
			<item label="Empathy"><action name="Execute"><command>empathy</command></action></item>
			<item label="Skype"><action name="Execute"><command>skype</command></action></item>
		</menu>
		<menu id="office" label="Office">
			<menu execute="~/.config/openbox/cb-pipemenus/cb-libreoffice-pipemenu" id="libreoffice" label="LibreOffice"/>
			<item label="Google Drive"><action name="Execute"><command>x-www-browser https://drive.google.com/</command></action></item>
			<item label="PDF Viewer (Atril)"><action name="Execute"><command>atril</command></action></item>
		</menu>
		<separator/>
		<menu id="settings" label="Settings">
			<menu id="obConfig" label="Openbox">
				<item label="Edit menu.xml"><action name="Execute"><command>geany -i ~/.config/openbox/menu.xml</command></action></item>
				<item label="Edit rc.xml"><action name="Execute"><command>geany -i ~/.config/openbox/rc.xml</command></action></item>
				<item label="Edit autostart"><action name="Execute"><command>geany -i ~/.config/openbox/autostart</command></action></item>
				<separator/>
				<item label="GUI Menu Editor"><action name="Execute"><command>obmenu</command></action></item>
				<item label="GUI Applications Settings Editor"><action name="Execute"><command>obapps</command></action></item>
				<item label="GUI Config Tool"><action name="Execute"><command>obconf</command></action></item>
				<separator/>
				<item label="Reconfigure"><action name="Reconfigure"/></item>
				<item label="Restart"><action name="Restart"/></item>
			</menu>
			<menu id="tint2config" label="tint2">
				<item label="Edit config file"><action name="Execute"><command>geany -i ~/.config/tint2/tint2rc</command></action></item>
				<item label="Restart tint2"><action name="Execute"><command>bash ~/.config/openbox/tint2_restart.sh</command></action></item>
				<separator label="Help?"/>
				<item label="man page"><action name="Execute"><command>mate-terminal --command=&quot;man tint2&quot;</command></action></item>
				<item label="Online Help"><action name="Execute"><command>x-www-browser http://code.google.com/p/tint2/wiki/Welcome</command></action></item>
			</menu>
			<menu id="DisplaySettings" label="Display Settings">
				<item label="ARandR Screen Layout Editor"><action name="Execute"><command>arandr</command></action></item>
				<separator label="Help?"/>
				<item label="man xrandr"><action name="Execute"><command>mate-terminal --command=&quot;man xrandr&quot;</command></action></item>
			</menu>
			<item label="Edit Default Applications"><action name="Execute"><command>mate-terminal --command=&quot;sudo update-alternatives --all&quot;</command></action></item>
			<item label="User Interface Settings"><action name="Execute"><command>lxappearance</command></action></item>
			<item label="Power Management"><action name="Execute"><command>xfce4-power-manager-settings</command></action></item>
		</menu>
		<menu id="system" label="System">
			<item label="Configure Printers"><action name="Execute"><command>system-config-printer</command></action></item>
			<item label="GParted"><action name="Execute"><command>gksudo --preserve-env gparted</command></action></item>
			<item label="GAlternatives"><action name="Execute"><command>gksudo --preserve-env galternatives</command></action></item>
			<item label="Synaptic Package Manager"><action name="Execute"><command>gksudo --preserve-env synaptic</command></action></item>
			<item label="User Login Settings"><action name="Execute"><command>gksudo --preserve-env lightdm-gtk-greeter-settings</command></action></item>
		</menu>
		<separator/>
		<menu id="exit" label="Exit">
			<item label="Log Out"><action name="Execute"><execute>sh ~/.config/openbox/dialog_command.sh "Log out?" "openbox --exit"</execute></action></item>
			<item label="Switch User"><action name="Execute"><execute>sh ~/.config/openbox/dialog_command.sh "Switch user?" "dm-tool switch-to-greeter"</execute></action></item>
			<item label="Suspend"><action name="Execute"><execute>sh ~/.config/openbox/dialog_command.sh "Suspend?" "systemctl suspend"</execute></action></item>
			<item label="Hibernate"><action name="Execute"><execute>sh ~/.config/openbox/dialog_command.sh "Hibernate?" "systemctl hibernate"</execute></action></item>
			<item label="Reboot"><action name="Execute"><execute>sh ~/.config/openbox/dialog_command.sh "Reboot?" "systemctl reboot"</execute></action></item>
			<item label="Shutdown"><action name="Execute"><execute>sh ~/.config/openbox/dialog_command.sh "Power off?" "systemctl poweroff"</execute></action></item>
		</menu>
	</menu>
</openbox_menu>
